body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
      "header"
      "main"
      "footer";
}

header, footer {
  background-color: #bf9595;
  color: #fff;
  padding: 1em;
}

nav {
  display: flex;
  justify-content: center;
}

nav .brand-name {
  margin-right: auto;
  color: #551A8B;
}

nav .main-nav {
  display: flex;

}

nav button {
  background-color: transparent;
  border: none;
  color: #fff; 
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  transition: background-color 0.3s;
}

nav button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

nav button a {
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

#over-mij, #projecten, #contact {
  display: grid;
  grid-gap: 20px;
}

article {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
}

footer {
  text-align: center;
  grid-area: footer;
}



.work__container {
  row-gap: 2rem;
}
.work__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}
.work__img img {
  transition: 1s;
}
.work__img img:hover {
  transform: scale(1.1);
}
